<mat-drawer-container class="example-container">
  <mat-drawer class="nav" mode="side" opened>
    <h2>Vajro</h2>

    <a routerLink="/home" routerLinkActive="active"> Home</a><br /><br />
    <a routerLink="/production-task" routerLinkActive="active"
      >Production Task</a
    ><br /><br />
    <a routerLink="/sign-out" routerLinkActive="active">Sign Out</a>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="30" rowHeight="2.5:7">
      <mat-grid-tile *ngFor="let task of all">
        <mat-card class="first-card">
          <mat-card-header>
            <mat-card-title> {{ task.title }} - {{ task.no }} </mat-card-title>
          </mat-card-header>
          <app-user-details [users]="task.users" [options]="options">
          </app-user-details>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
